# Server Configuration
PORT=5000
NODE_ENV=production
API_BASE_URL=https://showmyskills.xyphx.com/api

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/showmyskills

# Web App Configuration
NEXT_PUBLIC_API_URL=https://showmyskills.xyphx.com/api
